# Tupple

In [34]:
# packing
myTupple = (12, 13, 14, "nASIR", 'ASAD')

In [35]:
myTupple[3]

'nASIR'

In [36]:
# value update nahe hoge
# list change ho sakte hai but tupple change nahe ho sakta
# tupple is immutable
myTupple[3] = 'hussain'

TypeError: 'tuple' object does not support item assignment

In [37]:
# automatic convert in tupple
city = 'khi' , 'thr'

In [38]:
city

('khi', 'thr')

In [39]:
city1 = ('as', 'saad')

In [40]:
city2 = city + city1

In [41]:
city2

('khi', 'thr', 'as', 'saad')

In [42]:
# btata hai kitne dafa hai
city.count('khi')

1

In [43]:
city1.index('as')

0

In [44]:

city.index('khi,3')

ValueError: tuple.index(x): x not in tuple

In [45]:
#packing
square = (12, 16)

In [46]:
# un-paking
l,b = square

In [47]:
l

12

In [48]:
b

16

In [49]:
l,b,h = square

ValueError: not enough values to unpack (expected 3, got 2)

In [57]:
# packing un-paking in list
# packing
listing = [333, 444, 555]

In [58]:
# un-paking
a,b,c = listing

In [59]:
a

333

In [60]:
b

444

In [61]:
c

555

In [62]:
print(a,b,c)

333 444 555

In [63]:
# list slicing
name = "Pakistan"

In [64]:
name[3:6]

'ist'

In [65]:
len(name)

8

In [66]:
name[3]

'i'

In [68]:
name.#tab dabai

SyntaxError: invalid syntax (<ipython-input-68-15878b3bb9e9>, line 1)

# For loops

In [70]:
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")

Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan

In [72]:
#time comlaxity ziada hai
#code complexity kam hai
#code reduse karnge complexity barege

In [73]:
for i in range(10):
    print(i, "Hello Pakistan")

0 Hello Pakistan
1 Hello Pakistan
2 Hello Pakistan
3 Hello Pakistan
4 Hello Pakistan
5 Hello Pakistan
6 Hello Pakistan
7 Hello Pakistan
8 Hello Pakistan
9 Hello Pakistan

In [74]:
for i in range(10):
    print(i, "Hello Pakistan")
    print("i am in for loop")

0 Hello Pakistan
i am in for loop
1 Hello Pakistan
i am in for loop
2 Hello Pakistan
i am in for loop
3 Hello Pakistan
i am in for loop
4 Hello Pakistan
i am in for loop
5 Hello Pakistan
i am in for loop
6 Hello Pakistan
i am in for loop
7 Hello Pakistan
i am in for loop
8 Hello Pakistan
i am in for loop
9 Hello Pakistan
i am in for loop

In [75]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [76]:
for i in range(1, 10):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9

In [78]:
# nothing happen
for i in range(10, 0):
    print(i, end = " ")

In [84]:
# step
# differrence
for i in range(1, 20,2):
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19

In [82]:
# range(start, end, step)
for i in range(0, 20,2):
    print(i, end = " ")

0 2 4 6 8 10 12 14 16 18

In [85]:
# her value me is 1 minus hojai
for i in range(20, 0,-1):
    print(i, end = " ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [86]:
for num in [22, 33, 44, 55, 66, 77, 88, 99]:
    print(f"the nomber in list is {num}")

the nomber in list is 22
the nomber in list is 33
the nomber in list is 44
the nomber in list is 55
the nomber in list is 66
the nomber in list is 77
the nomber in list is 88
the nomber in list is 99

In [87]:
for num in [22, 33, 44, 55, 66, 77, 88, 99]:
    print(num)

22
33
44
55
66
77
88
99

In [89]:
for num in [22, 33, 44, 55, 66, 77, 88, 99]:
    print(f"the number in list is {num}")

the number in list is 22
the number in list is 33
the number in list is 44
the number in list is 55
the number in list is 66
the number in list is 77
the number in list is 88
the number in list is 99

In [91]:
students = ["aa", "dd", "rr", "tt"]
for mem in students:
    print(mem)

aa
dd
rr
tt

In [93]:
# running a string
for character in "Pakistan Zindabad":
    print(character)

P
a
k
i
s
t
a
n

Z
i
n
d
a
b
a
d

In [94]:
for character in "Pakistan":
    print(character)

P
a
k
i
s
t
a
n

In [95]:
# 2 key words in for loops

In [96]:
for a in range(1, 20):
    if a == 4:
        print(a)
        continue

4

In [103]:
# skip kerdega bake continue karega
for a in range(1, 10):
    if a == 4:
        print(a)
        continue
    print(a)

1
2
3
4
5
6
7
8
9

In [104]:
# value milege to break kerdega
for a in range(1, 10):
    if a == 4:
        break
    print(a)

1
2
3

In [106]:
list = ["danish", "fahad", "umair", "jahangeer", "daniyal"]
for i in list:
    if i == "umair":
        break
    print(i)

danish
fahad

In [109]:
list = ["danish", "fahad", "umair", "jahangeer", "daniyal"]
for i in list:
    if i != "umair":
        print(f"Wellcome to the party{list}")
    else:
        print(f"Party is over{list}")
        continue

Wellcome to the party['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']
Wellcome to the party['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']
Party is over['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']
Wellcome to the party['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']
Wellcome to the party['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']

In [1]:
list = ["danish", "fahad", "umair", "jahangeer", "daniyal"]
for i in list:
    if i != "umair":
        print(f"Wellcome to the party{list}")
    else:
        print(f"Party is over{list}")
        break

Wellcome to the party['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']
Wellcome to the party['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']
Party is over['danish', 'fahad', 'umair', 'jahangeer', 'daniyal']

In [115]:
friends = ["ali", "asad", "amir", "fahad"]
for friend in friends:
    if friend != "asad":
        print(f"Wellcome to the party{friend}")
    else:
        print(f"Party is over{friend}")
        continue

Wellcome to the partyali
Party is overasad
Wellcome to the partyamir
Wellcome to the partyfahad

# Nested for loops

In [119]:
# 1 for loop mai fosra forloops
fNames = ["Nasir", "Asad", "Kamran"]

lNames = ["hussain", "Amir", "Fazal"]

for fName in fNames:
    for lName in lNames:
        print(fName, lName)
# 2nd loop pora chalaiga pher 1st pe jaiga

Nasir hussain
Nasir Amir
Nasir Fazal
Asad hussain
Asad Amir
Asad Fazal
Kamran hussain
Kamran Amir
Kamran Fazal

In [120]:
# table print karai

In [124]:
table = int(input("Enter table number: "))
for num in range (1, 11):
    print(f"{table} * {num} = {table*num}")

Enter table number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [127]:
for tables in range(2, 6):
    print("################")
    for num in range (1, 11):
        print(f"{tables} * {num} = {tables*num}")

################
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
################
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
################
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
################
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Dictionaries

In [130]:
#creatind dictionary
dic = {}

In [131]:
# dic = {keys:values} ka payer hota hai is mai

In [134]:
dic = {"name":"Hamza", "age":23, "gender": "male"} #{keys:values}

In [135]:
dic

{'name': 'Hamza', 'age': 23, 'gender': 'male'}

In [136]:
dic["name"]

'Hamza'

In [137]:
dic["age"]

23

In [138]:
dic["gender"]

'male'

In [142]:
# dictionary mai list a sakte hai
# a list in dictionaries
dic2 = {"names" : ["asad", "saad", "fahad", "hassan"], "degrees" : ["A", "B"]}

In [143]:
# list mai bhe dictionaries a sakte hai
# a dictionaries in list
listing = [11, 22, dic2]

In [144]:
listing

[11, 22, {'names': ['asad', 'saad', 'fahad', 'hassan'], 'degrees': ['A', 'B']}]

In [145]:
# A dictionary in dictionary
uDic = {1 : "apple", 2 : {"time" : "2pm" , "day" : "monday"}}

In [146]:
uDic

{1: 'apple', 2: {'time': '2pm', 'day': 'monday'}}

# Dictiories :

In [147]:
# access all numbers of dictionary by for loop

In [148]:
dic = {"name":"Hamza", "age":23, "gender": "male", "qua" : "ABCD"}

In [149]:
for key in dic.keys():
    print(key)

name
age
gender
qua

In [150]:
for val in dic.values():
    print(val)

Hamza
23
male
ABCD

In [151]:
for k,v in dic.items():
    print(k,v)

name Hamza
age 23
gender male
qua ABCD

In [152]:
for key in dic.keys():
    print(dic[key])

Hamza
23
male
ABCD

In [153]:
# adding a item in dictionary

In [154]:
dic["address"] = "chakiwara"

In [155]:
dic

{'name': 'Hamza',
 'age': 23,
 'gender': 'male',
 'qua': 'ABCD',
 'address': 'chakiwara'}

In [157]:
# deleting value ?

In [159]:
eklist = [{"a" : "karachi", "b" : "Lahore"},{1 : 1111, 2 : 2222},dic]

In [160]:
eklist

[{'a': 'karachi', 'b': 'Lahore'},
 {1: 1111, 2: 2222},
 {'name': 'Hamza',
  'age': 23,
  'gender': 'male',
  'qua': 'ABCD',
  'address': 'chakiwara'}]

In [161]:
len(eklist)

3

In [164]:
eklist[2]["qua"]

'ABCD'

In [165]:
del eklist[2]["qua"]
eklist

[{'a': 'karachi', 'b': 'Lahore'},
 {1: 1111, 2: 2222},
 {'name': 'Hamza', 'age': 23, 'gender': 'male', 'address': 'chakiwara'}]